{% extends "base.html" %}
{% set active_page = "index" %}
{% block head %}
<script>
$(document).ready(function() {
    $("#removalModal").on("show.bs.modal", function(event) {
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract value from the custom data-* attribute
        var removalUrlData = button.data("removal-url");
        $(this).find("button.btn.btn-danger").attr("formaction", removalUrlData);
    });
});

$(document).ready(function() {
    $("#submit-generate-csv").click(function() {
        // disable button
        $(this).prop("disabled", true);
        // add spinner to button
        $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...`
        );
        // post the data
        $.post("/process_data", $("#form-generate-csv").serialize())
            .done(function(response) {
                var task_id = response.task_id
                var target = response.target
                if (task_id != null) {
                    var poll_task = setInterval(
                        function() {
                            $.get("/active-tasks/" + task_id)
                                .done(function(data) {
                                    if (typeof data[0] === "undefined" || data[0].task_id != task_id) {
                                        clearInterval(poll_task);
                                        window.location.replace('/?target=' + target);
                                    }
                                }, "json");
                        }, 1000);
                } else {
                    window.location.replace('/?target=' + target);
                }
            }, "json");
    });
});
</script>
{% endblock %}
{% block content %}
<h4>Generate concatenated CSV file</h4>
<form id="form-generate-csv">
    <div class="form-row">
        <div class="col">
            <label for="start_csv">Start CSV Name:</label>
            <select class="form-control" name="start_csv" id="start_csv">
                {% for name in cvs_filenames %}
                <option value="{{name}}" {% if name== default_start_csv %} selected {% endif %}>{{name}}</option>
                "
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="end_csv">End CSV Name:</label>
            <select class="form-control" name="end_csv" id="end_csv">
                {% for name in cvs_filenames %}
                <option value="{{name}}" {% if name== default_end_csv %} selected {% endif %}>{{name}}</option>
                "
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <button type="button" id="submit-generate-csv" class="btn btn-primary"
            {% if cvs_filenames is not defined %} disabled {% endif %}>Submit
    </button>
</form>
<br>
<h4>List of concatenated CSV files</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">File</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for row in processed_csv %}
    <tr>
        <td>
            {% if row == target_cvs %}
            <div class="alert alert-success" role="alert">
                <a href="download/{{ row }}" class="alert-link">{{ row }}</a>
            </div>
            {% else %}
            <a href="download/{{ row }}">{{ row }}</a>
            {% endif %}
        </td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removalModal"
                    data-removal-url="remove/{{ row }}">Remove
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="removalModal" tabindex="-1" role="dialog" aria-labelledby="removalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removalModalLabel">File Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this file?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form>
                    <button type="submit" class="btn btn-danger" formmethod="post" formaction="#">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}