{% extends "base.html" %}
{% block head %}
<script>
$(document).ready(function(){
    $("#exampleModal").on("show.bs.modal", function(event){
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract value from the custom data-* attribute
        var removalUrlData = button.data("removal-url");
        $(this).find("button.btn.btn-primary").attr("formaction", removalUrlData);
    });
});


</script>
{% endblock %}
{% block content %}
<h4>Generate concatenated CSV file</h4>
<form method="post" action="/process_data">
    <div class="form-row">
        <div class="col">
            <label for="start_csv">Start CSV Name:</label>
            <select class="form-control" name="start_csv" id="start_csv">
                {% for name in cvs_filenames %}
                <option value="{{name}}" {% if name== default_start_csv %} selected {% endif %}>{{name}}</option>
                "
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="end_csv">End CSV Name:</label>
            <select class="form-control" name="end_csv" id="end_csv">
                {% for name in cvs_filenames %}
                <option value="{{name}}" {% if name== default_end_csv %} selected {% endif %}>{{name}}</option>
                "
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<h4>List of concatenated CSV files</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">File</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for row in processed_csv %}
    <tr>
        <td><a href="download/{{ row }}">{{ row }}</a></td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-removal-url="remove/{{ row }}">
                Remove
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">File Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this file?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form>
                    <button type="submit" class="btn btn-primary" formmethod="post" formaction="#">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}